In [2]:
# Importing important Libraries
import selenium
import pandas as pd
from selenium import webdriver

In [68]:
# Connecting with the web driver
driver= webdriver.Chrome('chromedriver.exe')

# Answer-1. Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [69]:
url='https://www.naukri.com/'
driver.get(url)

In [70]:
#finding the element for job search by id
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [71]:
search_job=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[1]/div/div/div/div[1]/div[2]/input')

In [72]:
search_job.send_keys('Data Analyst')

In [73]:
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [74]:
search_btn=driver.find_element_by_class_name('btn').click()
search_btn

In [82]:
titles_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job=[]
for i in titles_tag:
    job.append(i.text)
job1=job[:10]
job1

['Data Scientist / Data Analyst -Business Analyst',
 'Data Analyst',
 'Data analysts',
 'Data Analyst (2positions)//immediate Joiners//bangalore',
 'Data analysts',
 'Data Analyst',
 'Data Analyst',
 'Consultant-Data Analyst -Bangalore',
 'Data Analyst - Category Demand Management (Revenue & Growth)',
 'Data Analyst/ Data Consultant (Various Levels – Senior/ Mid/ Junior)']

In [83]:
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company=[]
for i in company_tag:
    company.append(i.text)
company1=company[:10]
company1

['Inflexion Analytix Private Limited',
 'Novel Office',
 'IBM India Pvt. Limited',
 'Tech Mahindra Ltd.',
 'IBM India Pvt. Limited',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Innovsource Services Private Limited',
 'Myntra Designs Pvt. Ltd.',
 'DVSUM INDIA PRIVATE LIMITED']

In [84]:
experience_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
experience=[]
for i in experience_tag:
    experience.append(i.text)
experience1=experience[:10]
experience1

['0-3 Yrs',
 '0-3 Yrs',
 '5-6 Yrs',
 '4-8 Yrs',
 '3-5 Yrs',
 '3-5 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '5-10 Yrs']

In [85]:
salary_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]/span')
salary=[]
for i in salary_tag:
    salary.append(i.text)
salary1=salary[:10]
salary1

['3,50,000 - 4,50,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [86]:
location_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
location=[]
for i in location_tag:
    location.append(i.text)
location1=location[0:10]
location1

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [87]:
df_DataAnalyst=pd.DataFrame({})
df_DataAnalyst['Job Title']=job1
df_DataAnalyst['Company Name']=company1
df_DataAnalyst['Experience']=experience1
df_DataAnalyst['Salary']=salary1
df_DataAnalyst['Location']=location1
df_DataAnalyst

,Job Title,Company Name,Experience,Salary,Location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"3,50,000 - 4,50,000 PA.","Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Data Analyst,Novel Office,0-3 Yrs,Not disclosed,Bangalore/Bengaluru
2,Data analysts,IBM India Pvt. Limited,5-6 Yrs,Not disclosed,Bengaluru/Bangalore
3,Data Analyst (2positions)//immediate Joiners//...,Tech Mahindra Ltd.,4-8 Yrs,Not disclosed,Bangalore/Bengaluru
4,Data analysts,IBM India Pvt. Limited,3-5 Yrs,Not disclosed,Bangalore/Bengaluru
5,Data Analyst,Myntra Designs Pvt. Ltd.,3-5 Yrs,Not disclosed,Bangalore/Bengaluru
6,Data Analyst,Myntra Designs Pvt. Ltd.,3-8 Yrs,Not disclosed,Bangalore/Bengaluru
7,Consultant-Data Analyst -Bangalore,Innovsource Services Private Limited,2-7 Yrs,Not disclosed,Bangalore/Bengaluru
8,Data Analyst - Category Demand Management (Rev...,Myntra Designs Pvt. Ltd.,1-4 Yrs,Not disclosed,Bangalore/Bengaluru
9,Data Analyst/ Data Consultant (Various Levels ...,DVSUM INDIA PRIVATE LIMITED,5-10 Yrs,Not disclosed,Bangalore/Bengaluru

# Answer 2. Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [177]:
# Connecting with the web driver
driver= webdriver.Chrome('chromedriver.exe')

In [178]:
url='https://www.naukri.com/'
driver.get(url)

In [179]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job
search_job=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[1]/div/div/div/div[1]/div[2]/input')
search_job.send_keys('Data Scientist')

In [180]:
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')
search_btn=driver.find_element_by_class_name('btn').click()
search_btn

In [181]:
titles_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job=[]
for i in titles_tag:
    job.append(i.text)
job1=job[:10]
job1

['Data Scientist / Data Analyst -Business Analyst',
 'data scientist',
 'Data analytics / Data scientist intern (work from Home)',
 'Senior Data Scientist',
 'VP - Sr. Data Scientist For Morgan Stanley, Bangalore',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr Data Scientist']

In [182]:
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company=[]
for i in company_tag:
    company.append(i.text)
company1=company[:10]
company1

['Inflexion Analytix Private Limited',
 'Global Talent Pool',
 'TalkValley LLC',
 'RedBus',
 'Morgan Stanley Advantage Services',
 'Infocrunch Campaigns Pvt Ltd',
 'Walmart Labs',
 'ExecBoardinAsia',
 'Perform Group',
 'intelligent industrial internet systems pvt ltd.']

In [183]:
experience_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
experience=[]
for i in experience_tag:
    experience.append(i.text)
experience1=experience[:10]
experience1

['0-3 Yrs',
 '0-2 Yrs',
 '0-5 Yrs',
 '5-8 Yrs',
 '8-13 Yrs',
 '3-7 Yrs',
 '8-10 Yrs',
 '5-10 Yrs',
 '4-7 Yrs',
 '3-6 Yrs']

In [184]:
salary_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]/span')
salary=[]
for i in salary_tag:
    salary.append(i.text)
salary1=salary[:10]
salary1

['3,50,000 - 4,50,000 PA.',
 'Not disclosed',
 '2,00,000 - 3,00,000 PA.',
 'Not disclosed',
 '25,00,000 - 40,00,000 PA.',
 '20,00,000 - 30,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '5,50,000 - 14,00,000 PA.']

In [185]:
location_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
location=[]
for i in location_tag:
    location.append(i.text)
location1=location[0:10]
location1

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)']

In [204]:
jd1_url='https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16236512688773045&xp=1&px=1'
jd2_url='https://www.naukri.com/job-listings-data-scientist-global-talent-pool-bangalore-bengaluru-0-to-2-years-310521500397?src=jobsearchDesk&sid=16236512688773045&xp=2&px=1'
jd3_url='https://www.naukri.com/job-listings-data-analytics-data-scientist-intern-work-from-home-talkvalley-llc-kolkata-bangalore-bengaluru-delhi-ncr-0-to-5-years-050621000128?src=jobsearchDesk&sid=16236512688773045&xp=3&px=1'
jd4_url='https://www.naukri.com/job-listings-senior-data-scientist-redbus-in-ibibo-group-private-limited-bangalore-bengaluru-5-to-8-years-090621001584?src=jobsearchDesk&sid=16236512688773045&xp=4&px=1'
jd5_url='https://www.naukri.com/job-listings-vp-sr-data-scientist-for-morgan-stanley-bangalore-morgan-stanley-advantage-services-pvt-ltd-bangalore-bengaluru-8-to-13-years-010621002131?src=jobsearchDesk&sid=16236512688773045&xp=5&px=1'
jd6_url='https://www.naukri.com/job-listings-senior-data-scientist-infocrunch-campaigns-pvt-ltd-hyderabad-secunderabad-bangalore-bengaluru-delhi-ncr-3-to-7-years-140621000178?src=jobsearchDesk&sid=16236512688773045&xp=6&px=1'
jd7_url='https://www.naukri.com/job-listings-senior-data-scientist-walmart-labs-bangalore-bengaluru-8-to-10-years-020621500403?src=jobsearchDesk&sid=16236512688773045&xp=7&px=1'
jd8_url='https://www.naukri.com/job-listings-senior-data-scientist-execboardinasia-bangalore-bengaluru-5-to-10-years-030621500359?src=jobsearchDesk&sid=16236512688773045&xp=8&px=1'
jd9_url='https://www.naukri.com/job-listings-senior-data-scientist-perform-group-bangalore-bengaluru-4-to-7-years-310521501774?src=jobsearchDesk&sid=16236512688773045&xp=9&px=1'
jd10_url='https://www.naukri.com/job-listings-sr-data-scientist-intelligent-industrial-internet-systems-pvt-ltd-bangalore-bengaluru-mumbai-all-areas-3-to-6-years-030621003155?src=jobsearchDesk&sid=16236512688773045&xp=10&px=1'

In [ ]:
jd_url=[jd1_url,jd2_url,jd3_url,jd5_url,jd6_url,jd7_url,jd8_url,jd9_url,jd10_url]
jd=[]
for i in jd_url:
    driver=webdriver.Chrome('chromedriver.exe')
    driver.get(i)
    jd_tag=driver.find_element_by_xpath('//div[@class="dang-inner-html"]')
    jd.append(jd_tag.text.replace('\n',''))
jd

In [ ]:
driver= webdriver.Chrome('chromedriver.exe')
jd4_url='https://www.naukri.com/job-listings-senior-data-scientist-redbus-in-ibibo-group-private-limited-bangalore-bengaluru-5-to-8-years-090621001584?src=jobsearchDesk&sid=16236512688773045&xp=4&px=1'
driver.get(jd4_url)
jd4_tag=driver.find_element_by_xpath('//div[@class="clearboth description"]')
jd4=[]
jd4.append(jd4_tag.text.replace('\n',''))
jd4

In [216]:
jd.insert(3,jd4)
len(jd)

10

In [217]:
df_DataScientist=pd.DataFrame({})
df_DataScientist['Job Title']=job1
df_DataScientist['Company Name']=company1
df_DataScientist['Experience']=experience1
df_DataScientist['Salary']=salary1
df_DataScientist['Location']=location1
df_DataScientist['Job Description']=jd
df_DataScientist

,Job Title,Company Name,Experience,Salary,Location,Job Description
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"3,50,000 - 4,50,000 PA.","Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Job Role : Data Scientist/Data Analyst /Busine...
1,data scientist,Global Talent Pool,0-2 Yrs,Not disclosed,Bangalore/Bengaluru,Essential Duties ResponsibilitiesPerform basic...
2,Data analytics / Data scientist intern (work f...,TalkValley LLC,0-5 Yrs,"2,00,000 - 3,00,000 PA.","Kolkata, Bangalore/Bengaluru, Delhi / NCR",We are a group of tenured professors from Tier...
3,Senior Data Scientist,RedBus,5-8 Yrs,Not disclosed,Bangalore/Bengaluru,[Job Role: Senior Data ScientistReporting To: ...
4,"VP - Sr. Data Scientist For Morgan Stanley, Ba...",Morgan Stanley Advantage Services,8-13 Yrs,"25,00,000 - 40,00,000 PA.",Bangalore/Bengaluru,About UsMorgan Stanley is a leading global fin...
5,Senior Data Scientist,Infocrunch Campaigns Pvt Ltd,3-7 Yrs,"20,00,000 - 30,00,000 PA.","Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",We are looking for a highly capable Data Scien...
6,Senior Data Scientist,Walmart Labs,8-10 Yrs,Not disclosed,Bangalore/Bengaluru,"As a Senior Data Scientist for Walmart Labs, y..."
7,Senior Data Scientist,ExecBoardinAsia,5-10 Yrs,Not disclosed,Bangalore/Bengaluru,The Senior Data Scientist is an exciting role ...
8,Senior Data Scientist,Perform Group,4-7 Yrs,Not disclosed,Bangalore/Bengaluru,Responsibilities: -Contribute across dierent s...
9,Sr Data Scientist,intelligent industrial internet systems pvt ltd.,3-6 Yrs,"5,50,000 - 14,00,000 PA.","Bangalore/Bengaluru, Mumbai (All Areas)",Roles and Responsibilities- Create an industry...

# Answer 3. In this question you have to scrape data using the filters available on the webpage as shown below: the webpage https://www.naukri.com/

In [236]:
driver= webdriver.Chrome('chromedriver.exe')
url='https://www.naukri.com/'
driver.get(url)

In [237]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job
search_job=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[1]/div/div/div/div[1]/div[2]/input')
search_job.send_keys('Data Scientist')

In [238]:
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')
search_btn=driver.find_element_by_class_name('btn').click()
search_btn

In [240]:
loc_tag=driver.find_element_by_xpath('//span[@title="Delhi / NCR"]').click()
sal_tag=driver.find_element_by_xpath('//span[@title="0-3 Lakhs"]').click()

In [241]:
job_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job=[]
for i in job_tag:
    job.append(i.text)
job1=job[:10]
job1

['Market Research Intern',
 'Opening with leading edtech startup _ Platform Engineer',
 'Data science/Machine Learning trainer_Part time_Anywhere in india',
 'Devops Content Developer',
 'Marketing & Data Management Executive',
 'UI UX Designer',
 'IOS Developer',
 'Marketing Content Developer',
 'Content Writer Intern',
 'HR IT Recruiter || Work from Home']

In [242]:
location_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
location=[]
for i in location_tag:
    location.append(i.text)
location1=location[:10]
location1

['Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [244]:
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company=[]
for i in company_tag:
    company.append(i.text)
company1=company[:10]
company1

['Jobs Territory',
 'CIEL HR Services Pvt Ltd',
 'Synergistic Compusoft Private Limited',
 'Data is Good',
 'PINNACLE COSMOS (PASSION TO ACHIVE A GOAL)',
 'Webindia Master',
 'Unacademy R&D',
 'Data is Good',
 'Jobs Territory',
 'Enigma Human Capital Services Private Limited.']

In [245]:
experience_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
experience=[]
for i in experience_tag:
    experience.append(i.text)
experience1=experience[:10]
experience1

['0-1 Yrs',
 '4-8 Yrs',
 '5-9 Yrs',
 '0-1 Yrs',
 '3-5 Yrs',
 '0-2 Yrs',
 '2-7 Yrs',
 '0-1 Yrs',
 '0-1 Yrs',
 '1-5 Yrs']

In [246]:
df_jobfilter=pd.DataFrame({})
df_jobfilter['Job Title']=job1
df_jobfilter['Company Name']=company1
df_jobfilter['Experience']=experience1
df_jobfilter['Location']=location1
df_jobfilter

,Job Title,Company Name,Experience,Location
0,Market Research Intern,Jobs Territory,0-1 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
1,Opening with leading edtech startup _ Platform...,CIEL HR Services Pvt Ltd,4-8 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
2,Data science/Machine Learning trainer_Part tim...,Synergistic Compusoft Private Limited,5-9 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
3,Devops Content Developer,Data is Good,0-1 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
4,Marketing & Data Management Executive,PINNACLE COSMOS (PASSION TO ACHIVE A GOAL),3-5 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
5,UI UX Designer,Webindia Master,0-2 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
6,IOS Developer,Unacademy R&D,2-7 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
7,Marketing Content Developer,Data is Good,0-1 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
8,Content Writer Intern,Jobs Territory,0-1 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
9,HR IT Recruiter || Work from Home,Enigma Human Capital Services Private Limited.,1-5 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."

# Answer 4. Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [267]:
driver= webdriver.Chrome('chromedriver.exe')
url='https://www.glassdoor.co.in/index.htm'
driver.get(url)

In [269]:
search_job=driver.find_element_by_xpath('/html/body/header/nav[1]/div/div/div/div[4]/div[3]/form/div/div[1]/div/div/input')
search_job.send_keys('Data Scientist')

In [270]:
search_loc=driver.find_element_by_xpath('/html/body/header/nav[1]/div/div/div/div[4]/div[3]/form/div/div[3]/div/input')
search_loc.send_keys('Noida')
search_btn=driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr"]').click()
search_btn

In [275]:
job_tag=driver.find_elements_by_xpath('//a[@class="jobLink css-1rd3saf eigr9kq2"]/span')
job=[]
for i in job_tag:
    job.append(i.text)
job1=job[:10]
job1

['Data Scientist',
 'Staff/Lead Data Scientist',
 'Data Scientist',
 'Data Scientist - Machine Leaning, Python - Bangalore, KA',
 'Data Scientist',
 'Data Scientist, Engineering',
 'Sr Software Engineer II (Sr Architect), Data - Core Data Platform',
 'data scientist',
 'Data Scientist',
 'Data Scientist Intern']

In [276]:
company_tag=driver.find_elements_by_xpath('//div[@class="d-flex justify-content-between align-items-start"]/a/span')
company=[]
for i in company_tag:
    company.append(i.text)
company1=company[:10]
company1

['Applied Materials Inc.',
 'Salesforce',
 'Maersk',
 'UnitedHealth Group',
 'Netradyne',
 'Google',
 'Uber',
 'Randstad',
 'Skoruz',
 'ADCI - Karnataka']

In [277]:
days_tag=driver.find_elements_by_xpath('//div[@data-test="job-age"]')
days=[]
for i in days_tag:
    days.append(i.text)
days1=days[:10]
days1

['4d', '12d', '3d', '2d', '6d', '2d', '3d', '2d', '11d', '3d']

In [278]:
rating_tag=driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]')
rating=[]
for i in rating_tag:
    rating.append(i.text)
rating1=rating[:10]
rating1

['4.0', '4.5', '4.1', '3.6', '3.5', '4.5', '4.3', '3.9', '3.8', '4.3']

In [280]:
df_jobGD=pd.DataFrame({})
df_jobGD['Job Title']=job1
df_jobGD['Company Name']=company1
df_jobGD['Days of Posting']=days1
df_jobGD['Rating of Company']=rating1
df_jobGD

,Job Title,Company Name,Days of Posting,Rating of Company
0,Data Scientist,Applied Materials Inc.,4d,4.0
1,Staff/Lead Data Scientist,Salesforce,12d,4.5
2,Data Scientist,Maersk,3d,4.1
3,"Data Scientist - Machine Leaning, Python - Ban...",UnitedHealth Group,2d,3.6
4,Data Scientist,Netradyne,6d,3.5
5,"Data Scientist, Engineering",Google,2d,4.5
6,"Sr Software Engineer II (Sr Architect), Data -...",Uber,3d,4.3
7,data scientist,Randstad,2d,3.9
8,Data Scientist,Skoruz,11d,3.8
9,Data Scientist Intern,ADCI - Karnataka,3d,4.3

# Answer 5. Write a python program to scrape the salary data for Data Scientist designation in Noida location.
# You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

# Answer 6. Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
# 1. Brand 2. Product Description 3. Price 4. Discount %

In [3]:
driver= webdriver.Chrome('chromedriver.exe')
url='https://www.flipkart.com/'
driver.get(url)

In [4]:
search_job=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_job.send_keys('Sunglasses')

In [5]:
search_btn=driver.find_element_by_class_name('L0Z3Pu').click()
search_btn

In [11]:
for i in range(10):
    try:
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    except:
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()

In [ ]:
brand=[]
for i in range(3):
    for j in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
        brand.append(j.text)
        
    driver.find_element_by_xpath('//div[@class="_2WkVRV"]').click()
print(len(brand))
brand1=brand[:100]
brand1

In [17]:
description=[]
for i in range(3):
    for j in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):
        description.append(j.text)
        
print(len(brand))
description1=description[:100]

120

In [21]:
price=[]
for i in range(3):
    for j in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        price.append(j.text)

print(len(price))
price1=price[:100]

120

In [24]:
discount=[]
for i in range(3):
    for j in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span'):
        discount.append(j.text)

print(len(discount))
discount1=discount[:100]

120

In [25]:
df_sunglasses=pd.DataFrame({})
df_sunglasses['Brand Name']=brand1
df_sunglasses['Prodct Description']=description1
df_sunglasses['Price']=price1
df_sunglasses['Discount']=discount1
df_sunglasses

,Brand Name,Prodct Description,Price,Discount
0,hipe,UV Protection Sports Sunglasses (Free Size),₹319,83% off
1,NuVew,UV Protection Aviator Sunglasses (58),₹204,74% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
3,NuVew,UV Protection Round Sunglasses (50),₹189,77% off
4,Fravy,"UV Protection, Gradient, Night Vision Retro Sq...",₹296,85% off
...,...,...,...,...
95,Villain,Others Retro Square Sunglasses (Free Size),₹539,28% off
96,Fastrack,Polarized Retro Square Sunglasses (Free Size),₹701,12% off
97,NuVew,"UV Protection, Riding Glasses Aviator Sunglass...",₹366,77% off
98,DEIXELS,"Polarized, UV Protection, Riding Glasses Wayfa...",₹224,62% off
99,AISLIN,"Polarized, UV Protection Wayfarer, Rectangular...",₹543,77% off

# Answer 7. Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace. 1. Rating, 2. Review_summary,3. Full review

In [153]:
driver= webdriver.Chrome('chromedriver.exe')
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [154]:
allreviews=driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]/span').click()

In [155]:
for i in range(10):
    try:
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    except:
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()

In [156]:
rating=[]
for i in range(10):
    for j in driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]'):
        rating.append(j.text)
        
print(len(rating))

StaleElementReferenceException: Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.101)

In [43]:
summreview=[]
for i in range(10):
    for j in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
        summreview.append(j.text)
        
print(len(summreview))

100

In [39]:
review=[]
for i in range(10):
    for j in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div'):
        review.append(j.text.replace('\n',' '))
        
print(len(review))

100

In [46]:
df_iphone11=pd.DataFrame({})
df_iphone11['Rating']=rating
df_iphone11['Review Summary']=summreview
df_iphone11['Full Review']=review
df_iphone11

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget. I’m am v...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,4,Good choice,So far it’s been an AMAZING experience coming ...
96,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
97,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
98,5,Perfect product!,Value for money❤️❤️ Its awesome mobile phone i...
99,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...

# Answer 8. Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.1. Brand2. Product Description3. Price4. discount %

In [96]:
driver= webdriver.Chrome('chromedriver.exe')
url='https://www.flipkart.com/'
driver.get(url)

In [97]:
search_job=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_job.send_keys('sneakers')

In [100]:
search_btn=driver.find_element_by_class_name('L0Z3Pu').click()
search_btn

In [101]:
for i in range(3):
    try:
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    except:
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()

In [81]:
brand=[]
for i in range(3):
    for j in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
        brand.append(j.text)
        
    driver.find_element_by_xpath('//div[@class="_2WkVRV"]').click()
brand1=brand[:100]
print(len(brand1))
print(len(brand))

100
120

In [91]:
description=[]
for i in range(3):
    for j in driver.find_elements_by_xpath('//div[@class="_2B099V"]/a'):
        description.append(j.text)
description1=description[:100]
print(len(description1))

100

In [88]:
price=[]
for i in range(3):
    for j in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        price.append(j.text)
price1=price[:100]
print(len(price1))

100

In [89]:
discount=[]
for i in range(3):
    for j in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span'):
        discount.append(j.text)
discount1=discount[:100]
print(len(discount1))

100

In [90]:
df_sneakers=pd.DataFrame({})
df_sneakers['Brand Name']=brand1
df_sneakers['Prodct Description']=description1
df_sneakers['Price']=price1
df_sneakers['Discount']=discount1
df_sneakers

,Brand Name,Prodct Description,Price,Discount
0,ESSENCE,Sneakers For Men,₹442,55% off
1,Arohi,₹442₹99955% off,₹439,56% off
2,Jokatoo,Sneakers For Men,₹418,71% off
3,Robbie jones,₹439₹99956% off,₹499,50% off
4,SWIGGY,casual sneaker shoes and partywear shoes Casua...,₹719,71% off
...,...,...,...,...
95,Zorth,"₹407₹1,29968% off\nOr Pay ₹386 + \n 21",₹573,42% off
96,Ktiz,EXPLORE Sneakers For Men,₹474,63% off
97,Magnolia,"₹1,329₹1,89930% off",₹311,68% off
98,bluemaker,Synthetic Leather Casual Partywear Wedding Sne...,₹474,52% off
99,Ktiz,₹398₹99960% off,₹440,66% off

# Answer 9. Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [103]:
driver= webdriver.Chrome('chromedriver.exe')
url='https://www.myntra.com/shoes'
driver.get(url)

In [106]:
color_filter=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div').click()
color_filter

In [107]:
for i in range(2):
    try:
        driver.find_element_by_xpath('//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[12]/a').click()
    except:
        driver.find_element_by_xpath('//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[12]/a').click()

In [111]:
brand=[]
for i in range(3):
    for j in driver.find_elements_by_xpath('//h3[@class="product-brand"]'):
        brand.append(j.text)
brand1=brand[:100]
print(len(brand1))
print(len(brand))

100
150

In [114]:
description=[]
for i in range(3):
    for j in driver.find_elements_by_xpath('//h4[@class="product-product"]'):
        description.append(j.text)
description1=description[:100]
print(len(description))
print(len(description1))

150
100

In [119]:
price=[]
for i in range(3):
    for j in driver.find_elements_by_xpath('//div[@class="product-price"]'):
        price.append(j.text.strip())
price1=price[:100]
print(len(price))
print(len(price1))

150
100

In [120]:
df_shoes=pd.DataFrame({})
df_shoes['Brand Name']=brand1
df_shoes['Prodct Description']=description1
df_shoes['Price']=price1
df_shoes

   Brand Name               Prodct Description     Price
0    RAPAWALK     Standard Width Leather Monks  Rs. 8850
1    RAPAWALK     Standard Width Leather Monks  Rs. 8850
2    RAPAWALK     Standard Width Leather Monks  Rs. 8850
3    RAPAWALK  Standard Width Leather Slip Ons  Rs. 8850
4    RAPAWALK  Standard Width Leather Slip Ons  Rs. 8850
..        ...                              ...       ...
95   RAPAWALK      Wide Width Leather Slip Ons  Rs. 8850
96   RAPAWALK         Wide Width Leather Monks  Rs. 8850
97   RAPAWALK         Wide Width Leather Monks  Rs. 8850
98   RAPAWALK         Wide Width Leather Monks  Rs. 8850
99   RAPAWALK  Standard Width Leather Slip Ons  Rs. 8850

[100 rows x 3 columns]

# Answer 10.Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image: 1. title 2. Ratings 3. Price

In [191]:
driver= webdriver.Chrome('chromedriver.exe')
url='https://www.amazon.in/'
driver.get(url)

In [192]:
search=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

In [193]:
search_btn=driver.find_element_by_xpath('//input[@id="nav-search-submit-button"]').click()
search_btn

In [194]:
CPU_filteri7=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i').click()
CPU_filteri9=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/div/label/i').click()
CPU_filteri7
CPU_filteri9

In [195]:
name_tag=driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
name=[]
for i in name_tag[0:10]:
    name.append(i.text)
print(len(name))    
name

10

['Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'HP 14 Thin & Light 14" (35.56cms) FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 'ASUS ROG Zephyrus Duo 15, 15.6" 4K UHD, Intel Core i7-10875H 10th Gen, RTX 2080 Super Max-Q 8GB Graphics, Gaming Laptop (32GB/2TB RAID 0 SSD/Windows 10/MS Office/Gray/2.48 Kg) GX550LXS-HC145TS',
 'Lenovo Ideapad 5 Intel i7 11th Gen 15.6" Thin and Light (16GB/512SSD/Win10 +Office Home/Intel Iris Xe Graphics/Graphite Grey/1.66kg), 82FG0117IN',
 'Lenovo ThinkPad E15 (2021) Intel Core i7 11th Gen 15.6" FHD Thin and Light Laptop (16GB RAM/512GB SSD/Windows 10/MS Office/Fingerprint Reader/Black/Aluminium Surface/ 1.7 kg), 20TDS0G100',
 '(Renewed) Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 'Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7 15.6-inch FHD IPS Gaming Laptop (8GB/1TB HDD + 256 GB SSD/Windows 10/NVIDIA GTX 1650 4GB GDDR6/with M100 RGB Gaming Mouse/Onyx Black/2.2Kg), 81Y400VAIN']

In [206]:
rating_tag=driver.find_elements_by_xpath('//span[@class="a-icon-alt"]')
rating=[]
for i in rating_tag[0:10]:
    rating.append(i.text.strip())
print(len(rating))    
rating

10

['', '', '', '', '', '', '', '', '', '']

In [207]:
price_tag=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
price=[]
for i in price_tag[0:10]:
    price.append(i.text)
print(len(price))    
price

10

['54,999',
 '89,000',
 '84,990',
 '86,990',
 '26,990',
 '2,69,990',
 '78,990',
 '90,990',
 '1,70,587',
 '77,990']

In [208]:
df_laptop=pd.DataFrame({})
df_laptop['Laptop Name']=name
df_laptop['Product Rating']=rating
df_laptop['Price']=price
df_laptop

                                         Laptop Name Product Rating     Price
0  Mi Notebook Horizon Edition 14 Intel Core i5-1...                   54,999
1  HP 14 Thin & Light 14" (35.56cms) FHD Laptop (...                   89,000
2  HP Pavilion (2021) Thin & Light 11th Gen Core ...                   84,990
3  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...                   86,990
4  Life Digital Laptop 15.6-inch (39.62 cms) (Int...                   26,990
5  ASUS ROG Zephyrus Duo 15, 15.6" 4K UHD, Intel ...                 2,69,990
6  Lenovo Ideapad 5 Intel i7 11th Gen 15.6" Thin ...                   78,990
7  Lenovo ThinkPad E15 (2021) Intel Core i7 11th ...                   90,990
8  (Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...                 1,70,587
9  Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7...                   77,990